@import url('global/main.css');
@import url('components/header.css');
@import url('components/footer.css');
@import url('pages/home.css');
@import url('pages/gallery.css');
@import url('pages/artists.css');
@import url('pages/events.css');
@import url('pages/about.css');
@import url('pages/auth.css');