.brand{
    color: #DFBA69;
}
header{
    display: flex;
    padding: 40px;
    height: 60px;
}

.section-1{
    width: 100%;
}

.wrapper > header > .section-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper > header > .section-1 > nav{
    display: flex;
    gap: 40px;
    align-items: center;
}

.section-1 a{
    font-weight: 600;
}

.wrapper > header > .section-1 > nav > .brand{
    font-size: 20pt;
    font-weight: bolder;
}


.letter {
    display: inline-block;
    transform: scaleX(-1) rotate(-40deg) translate(-3px, -1px);
}


.auth a:first-child:hover, .nav-links:hover{
    color: #da9e1e;
}

.sign-up{
    color: black;
    background-color: #DFBA69;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: bold;
}

.sign-up:hover{
    background-color: #da9e1e;
}

.auth{
    display: flex;
    align-items: center;
    gap: 20px;
}

menu img{
    cursor: pointer;
}

.menu-links{
    height: 100vh;
    width: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    top: 0;
    right: 0;
    padding-top: 16px;
    background-color: #252525;
    z-index: 200;
    transition: .3s;
}
.menu-links .brand{
    font-size: 20pt;
    font-weight: 700;
    cursor: initial;
}
.menu-links > nav{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}
.menu-links > nav > a{
    display: flex;
    width: 100%;
    padding: 6px 0px;
    padding-left: 40px;
}

.menu-links .menu-link:hover{
    background-color: rgba(0,0,0,0.3);
}

@media (max-width: 900px){
    
}

@media (max-width: 820px){
    .nav-links, .auth{
        display: none;
    }
}

@media (min-width:820px) {
    menu{
        display: none;
    }
}