.about-main-section{
    margin-top: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0px 40px;
}

.about-main-section h1, h2{
    margin: 30px 0px;
}

.about-main-section h1{
    font-size: 3vw;
}

.about-main-section h2{
    font-size: 2vw;
}
.about-main-section h2{
    color: #DFBA69;
    font-weight: 900;
    font-size: 18pt;
    margin-top: 60px;
}

.about-main-section p{
    text-align: justify;
    max-width: 800px;
    line-height: 30px;
}


.what-will-you-find-here{
    display: flex;
    flex-flow: column nowrap;
    gap: 14px;
}
.about-section-3 .what-will-you-find-here div{
    border: 1px solid #3d3d3d;
    background-color: #1e1e1e;
    padding: 12px;
    padding-left: 30px;
    border-radius: 12px;
    transition: .3s ease;
}

.what-will-you-find-here div:hover{
    border: 1px solid #f2b229;
    transform: translateX(10px);
}

.about-section-5{
    margin-top: 80px;
    margin-bottom: 40px;
}

.about-section-5 p{
    font-size: 11pt;
    opacity: 0.5;
}
