

.nav-links{
    display: none;
}

.auth-main-section{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    user-select: none;
}

.form{
    width: 320px;
    background-color: #2c2c2c;
    border-radius: 6px;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    align-items: center;
    padding-bottom: 40px;
}

input{
    border: 0px;
    border-bottom: 1px solid #ffffd993;
}


input, select{
    height: 40px;
    outline: none;
}
input, select{
    text-indent: 12px;
    width: 220px;
    background-color: transparent;
}

select{
    text-align: center;
    border-radius: 6px;
}

button[type="submit"]{
    margin-top: 20px;
    background-color: #DFBA69;
    border: none;
    color: black;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s ease;
}

button[type="submit"]:hover{
    transform: translateY(-2px);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
}
input{
    
    background-color: #383838;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}





