.section-2{
    margin-top: 100px;
    padding: 40px;
}

.section-2 > h1{
    font-size: 3.8vw;
    font-weight: 610;
    max-width: 1100px;
}

.section-3{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.discover-new-artworks{
    padding:50px 30px;
    padding-top: 220px;
}

.artworks-container{
    padding: 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.artwork{
    overflow: hidden;
    position: relative;
    height: 280px;
    width: 300px;
}

.artwork-item-3{ 
    grid-row: 1/4; 
    grid-column: 3; 
    height: 580px;
}

.artwork-item-5{
    grid-row: 2/4; 
    grid-column: 2; 
    height: 580px;
}

.artwork-item-7{
    grid-row: 3/4; 
    grid-column: 3;
}

.artwork > div:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.artwork > div{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .4s ease;
}

.artwork-item-1 > div{
    background-image: url('../../images/artes/TarisadoArnal.webp');
}
.artwork-item-2 > div{
    background-image: url('../../images/artes/vangog.webp');
}
.artwork-item-3 > div{
    background-image: url('../../images/artes/monalisa.jfif');
}
.artwork-item-4 > div{
    background-image: url('../../images/artes/clocks.jfif');
}
.artwork-item-5 > div{
    background-image: url('../../images/artes/woman.webp');
}
.artwork-item-6 > div{
    background-image: url('../../images/artes/Artedistorcida.webp');
}
.artwork-item-7 > div{
    background-image: url('../../images/artes/artemoderna2.jpeg');
}

/*
    descobrir o nome dos autores dessas imagens(obras de arte) e o nome delas.
*/

@media (max-width: 910px){

    .artwork-item-3, .artwork-item-5, .artwork-item-7 {
        grid-row: auto;
        grid-column: auto;
        height: 280px;
        background-size: cover;
    }
    
    .artworks-container{
        width: 60%;
    }

    .artwork{
        width: 100%;
    }

    
}
